body{
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
}
.vs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}
section{
    width: 50%;
    text-align: center;
}
section h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
section img{
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    padding: 30px;
    margin-top: 50px;
}
.player img{
    background-color: greenyellow;
}
.computer img{
    transform: scaleX(-1);
    background-color: rgb(255, 29, 29);
}
.opsi{
    width: 300px;
    height: 80px;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.opsi img{
    height: 50px;
    border: 2px solid black;
    padding: 0;
    margin-top: 0;
    cursor: pointer;
}
.btn-opsi{
    background-color: whitesmoke;
}
@media screen and (max-width: 601px) {
    body{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    section h1{
        font-size: 1.5rem;
        margin: 3px;
    }
    section img{
        height: 15vw;
        max-height: 80px;
        padding: 3vw;
        margin-top: 0;
        height: 200px;
        border: 2vw solid black;
    }
    .computer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .computer h1{
        order: 2;
    }
    .computer h1:nth-child(3){
        order: -1;
    }
    .player{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .player h1{
        order: -1;
    }
    .player h1:nth-child(3){
        order: 2;
    }
    .player img{
        transform: rotate(-90deg);
    }
    .vs{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        font-size: 1.8rem;
        margin: 5px;
    }
    .computer img{
        transform: rotate(90deg);
    }
    .opsi{
        order: -1;
        margin-top: 10px;
        width: 70vw;
        height: 20vw;
        border: 2px solid black;
        background-color: burlywood;
        border-radius: 23px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: static;
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
    }
    .opsi img{
        transform: rotate(-90deg);
        height: 15vw;
    }
}